@charset "utf-8";
/* CSS Document */
/* 用户管理位置 */
.user_here {
    width: 1198px;
    height: 33px;
    line-height: 33px;
    color: #999999;
    border: 1px solid #dedede;
    margin-top: 10px;
    text-indent: 10px;
}

.user_center {
    width: 1200px;
    overflow: auto;
    margin-top: 10px;
}

/* 用户管理 左侧 */
.user_left_dt {
    width: 220px;
    height: auto;
}

.user_head_dt {
    width: 220px;
    height: 40px;
    background: #cd1030;
    text-align: center;
}

.user_head_dt a {
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

/* 用户管理菜单 */
.user_menu_dt {
    width: 218px;
    border: 1px solid #dedede;
    background: #fff;
    border-top: none
}

.user_menu_dt ul {
    padding: 0 0 10px 0
}

.user_menu_dt ul h2 {
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: #f6f6f6;
    font-size: 12px;
    margin-bottom: 10px;
}

.user_menu_dt ul li {
    font-family: "宋体";
    text-indent: 70px;
    line-height: 26px;
}

.user_menu_dt ul li #current {
    color: #888888
}

.user_menu_dt ul li a:hover {
    color: #cf1031
}

.user_menu_dt ul li #current {
    color: #cf1031
}

/* 用户管理 右侧 */
.user_right_dt {
    width: 960px;
    height: auto;
}

.user_dingdan_dt {
    height: 33px;
    line-height: 33px;
    border-bottom: 2px solid #cf1031
}

.user_dingdan_dt a {
    display: block;
    padding: 0px 15px;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-left: 5px;
    border-radius: 2px 2px 0 0;
}

.user_dingdan_dt .hd {
    background: #cf1031;
    color: #ffffff;
}


.ibody_dt {
}

.shangpin_Box_dt {
    width: 960px;
    overflow: auto;
    padding: 10px 0;
}

.shangpin_Box_dt ul li {
    width: 226px;
    height: 370px;
    background: #fff;
    border: 2px solid #fff;
    margin: 5px;
    float: left;
    display: inline;
    -moz-box-shadow: 0px 3px 8px #cecece;
    -webkit-box-shadow: 0px 3px 8px #cecece;
    box-shadow: 0px 3px 8px #cecece;
}

.shangpin_Box_dt ul li:hover {
    border: 2px solid #ca3037;
}

.shangpin_Box_dt ul li p {
    padding: 3px 0
}

.shangpin_Box_dt ul li p img {
    width: 200px;
    height: 200px;
}

.padding10_dt {
    padding: 14px;
}

.shangpin_Box_text_dt {
    height: 30px;
    line-height: 14px;
}

.shangpin_Box_button1 {
    background: #ca3037;
    color: #FFFFFF;
    border: none;
    padding: 0px 15px
}

.shangpin_Box_button1:hover {
    background: #939090;
    border-radius: 2px
}

.shangpin_Box_button2 {
    background: #939090;
    color: #FFFFFF;
    border: none;
    padding: 0px 15px
}

.shangpin_Box_button2:hover {
    background: #ca3037;
    border-radius: 2px
}

.btn_buy {
    margin-top: 0px;
}

 

 