@charset "utf-8";
/* CSS Document */
.kf {
    width: 420px;
    height: 300px;
    border: 1px solid #dcdcdc;
}

.kf_top {
    width: 410px;
    height: 24px;
    background: #e34b64;
    padding: 3px 5px 3px 5px;
    color: #ffffff;
}

.kf_top strong {
    margin-left: 5px;
    font-size: 12px;
}

.kf_top img {
    width: 19px;
    height: 20px;
    float: right;
    margin-top: 2px;
}

.kf_left {
    width: 270px;
    height: 270px;
    float: left;
    border-right: 1px solid #dcdcdc;
}

.kf_left_top {
    width: 270px;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden
}

.kf_left_top_con {
    padding: 5px;
}

.kf_left_middle {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    background: #f5f5f5;
}

.kf_left_middle span {
    float: right;
    color: #333333;
    margin-right: 10px;
}

.kf_left_middle img {
    margin-top: 4px;
    margin-left: 4px;
    float: left;
}

.kf_left_bottom {
    width: 100%;
    height: 55px;
    overflow: scroll;
    overflow-x: hidden
}

.kf_left_bottom1 {
    width: 100%;
    height: 38px;
    border-top: 1px solid #dcdcdc;
    background: #f5f5f5;
}

.btn {
    width: 58px;
    height: 25px;
    background: #f98a23;
    border: 1px solid #eb7d17;
    font-size: 12px;
    color: #FFFFFF;
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}

.kf_right {
    width: 139px;
    height: 250px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}


.wen {
    border: solid 1px #d2dbe2;
    background: #f1f8fe;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 20px;
}

.wen_2 {
    color: #333333;
    padding-top: 5px;
}

.da {
    padding: 5px;
    margin-bottom: 5px;
    border: dotted 1px #ddd;
    line-height: 20px;
}

.da_2 {
    padding-top: 5px;
    color: #333333;
}

.kf1 {
    width: 551px;
    height: 300px;
    border: 1px solid #dcdcdc;
}

.kf_right1 {
    width: 280px;
    height: 250px;
    float: left;
}

.kf_right1 .history {
    width: 100%;
    height: 25px;
    display: block;
    background: #efefef;
    color: #969195;
    line-height: 25px;
}

.kf_top1 {
    width: 540px;
    height: 24px;
    background: #e34b64;
    padding: 3px 5px 3px 5px;
    color: #ffffff;
}

.kf_top1 strong {
    margin-left: 5px;
    font-size: 12px;
}

.kf_top1 img {
    width: 19px;
    height: 20px;
    float: right;
    margin-top: 2px;
}

.kf_left_top1 {
    width: 270px;
    height: 245px;
    overflow: scroll;
    overflow-x: hidden
}

.kf_left_top_con1 {
    padding: 5px;
}

.bqq {
    width: 392px;
    height: auto;
    border: 1px solid #d2dbe2;
    background: #f1f8fe;
    padding: 5px;
}

.bqq tr td a {
    width: 26px;
    height: 26px;
    display: block;
}

.bqq tr td a:hover {
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #d9d9d9;
}

