<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="top-wapper">
        <h1 id="top-word">job20200217</h1>
    </div>

    <div class="core-wapper">
        <div class="word-wapper">

        </div>
    </div>

    <div class="bottom-wapper">
        <hr>
    </div>
</div>

<footer class="footer">
    <div class="sub-foot">
        <div style="text-align: center;">
            <span style="font-size: smaller; color: #525D76; ">
                <em>Copyright © 2020, Kevin KDA. AllRightsReserved.</em>
            </span>
        </div>
    </div>
</footer>
</body>
</html>


