@charset "utf-8";
/* CSS Document */

/* CSS 顶部横条 */
.index-top-box {
    width: 100%;
    height: 35px;
    background: url(../img/sprite/sprite-point.jpg) #f5f5f5 bottom repeat-x;
}

.index-top {
    width: 1200px;
    height: 35px;
    line-height: 35px;
}

/* 城市选择 */
.checkCity {
    display: block;
    width: 78px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
    margin-left: 5px;
    position: relative;
    background: url(../img/sprite/index-btn-jt2.gif) right center no-repeat;
    background-position: 62px 15px
}

.checkCity:hover {
    border: 1px solid #dedede;
    border-bottom: none;
    background: url(../img/sprite/index-btn-jt1.gif) #fff right center no-repeat;
    background-position: 62px 15px
}

/* 城市选择 */
.listCity {
    width: 510px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
    border-top: none
}

.checkRegional {
    width: 100%;
    line-height: 22px;
    border-bottom: 1px dotted #dedede;
    margin-top: 10px;
    padding-bottom: 10px;
}

.checkRegional a {
    padding: 0 5px;
}

.checkRegional a:hover {
    color: #FF0000;
}

.addMore {
    width: 100%;
    height: auto;
    line-height: 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #dedede;
    background: #f5f5f5;
}

.addMore a {
    padding: 2px 7px;
    margin-left: 5px
}

.addMore a:hover {
    background: #0f9b33;
    color: #FFFFFF
}

/* 商圈或社区 */
.community {
    width: 85px;
    background: url(../img/sprite/index-btn-jt2.gif) right center no-repeat;
    background-position: 71px 15px
}

.community:hover {
    background: url(../img/sprite/index-btn-jt1.gif) #fff right center no-repeat;
    background-position: 71px 15px
}

/* 社区选择 */
.listCommunity {
    width: 500px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
    border-top: none;
}

.qu-check {
    width: 100%;
    overflow: auto;
}

.qu-check li {
    width: 25%;
    height: 32px;
    float: left;
    display: inline;
    margin-top: 8px;
    margin-bottom: 8px;
}

.qu-check li a {
    display: block;
    width: 86%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    text-align: center;
    font-weight: bold;
    color: #868686;
    background: #edecec;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 4px
}

.qu-check li a:hover {
    border: 1px solid #e34f69;
    color: #fff;
    background: #f25a75
}

/* 商圈选择 */
.quan-check li {
    width: 50%
}

.quan-check li a {
    width: 90%
}

/* 网站导航 */
.all-webNav {
    width: 448px;
    padding: 15px 0;
    background: #fff;
    border: 1px solid #dedede;
    border-top: none;
}

.all-menu {
    border-right: 1px dotted #dedede;
    height: auto;
    width: 80px;
    margin-left: 30px;
}

.all-menu li {
    width: 90%;
    line-height: 24px;
}

.all-menu li a {
    color: #999999
}

.all-menu li a:hover {
    color: #e5274f
}

/* 收藏夹 */
.favorit {
    width: 65px;
    background: url(../img/sprite/index-btn-jt2.gif) right center no-repeat;
    background-position: 48px 15px;
    margin-left: 0;
}

.favorit:hover {
    width: 65px;
    background: url(../img/sprite/index-btn-jt1.gif) #fff right center no-repeat;
    background-position: 48px 15px
}

.Collection-of-goods {
    width: 180px;
    padding: 10px;
    background: #fff;
    border: 1px solid #dedede;
    border-top: none;
}

/* 无下拉链接 */
.noneAny {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 3px;
}

.noneAny a {
    color: #999999
}

.noneAny a:hover {
    color: #e5274f
}

/* 我易到的货 */
.myGoods {
    width: 90px;
    background: url(../img/sprite/index-btn-jt2.gif) right center no-repeat;
    background-position: 72px 15px
}

.myGoods:hover {
    background: url(../img/sprite/index-btn-jt1.gif) #fff right center no-repeat;
    background-position: 72px 15px
}

/* 手机版 */
.phone {
    width: 60px;
    height: 35px;
}

.phone a {
    display: block;
    width: 60px;
    text-indent: 15px;
    background: url(../img/sprite/index-btn-phone1.gif) left center no-repeat;
}

.phone a:hover {
    background: url(../img/sprite/index-btn-phone2.gif) left center no-repeat;
    color: #cb102f
}

/*左边显示/右边显示*/
.none {
    background: #fff;
    display: none;
    position: absolute;
    z-index: 99999;
    top: 34px;
    _top: 33px;
    left: -1px;
}

.none-r {
    background: #fff;
    display: none;
    position: absolute;
    z-index: 99999;
    top: 34px;
    _top: 33px;
    right: -1px;
}

/* CSS 顶部横条 */

/* LOGO 样式 */
.logoBox {
    width: 1200px;
    height: 85px;
    padding-top: 30px;
    background: #fff;
}

.logo {
    width: 300px;
    height: 85px;
}

/**搜索**/
.searchBox {
    width: 600px;
    height: 80px;
    padding-top: 5px;
    margin-left: 153px;
}

.searchCheck {
    width: 120px;
    height: 34px;
}

.searchCheck .select {
    width: 110px;
    padding: 5px;
    background: #fff;
    border: 1px solid #dadada;
    color: #989898
}

.searchCheck .select:hover {
    border: 1px solid #7f9db9;
    color: #989898
}

/**搜索**/
.searchinput {
    width: 480px;
    height: auto
}

.S-bg {
    width: 476px;
    height: 30px;
    padding: 2px;
    background: #e34b64;
}

.S-text {
    background: #fff;
    width: 392px;
    _width: 392px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    border: 1px solid #fff
}

.S-submit {
    background: #e34b64;
    display: block;
    width: 74px;
    height: 30px;
    line-height: 30px;
    border: none;
    color: #FFFFFF
}

.S-submit:hover {
    color: #FFFF33
}

/**热词**/
.hot-words {
    line-height: 24px;
    padding: 5px 0;
}

.hot-words a {
    padding: 0 3px;
    color: #999999
}

.hot-words a:hover {
    color: #e5274f
}

/* LOGO 样式 */

/**导航**/
.navBox {
    width: 100%;
    height: 42px;
    background: #bc1b35
}

.nav {
    width: 1200px;
    height: 42px;
    background: #d51938
}

/**商品分类**/
.classification {
    width: 220px;
    background: #9f0b23;
    height: 42px
}

.classification .hd {
    width: 220px;
    height: 42px;
    line-height: 42px;
    text-indent: 15px;
    color: #FFFFFF;
    background: url(../img/sprite/index-btn-jt3.gif) right center no-repeat;
    background-position: 82px 20px;
}

/**主导航**/
.bigNav {
    width: 500px;
    height: 42px;
}

.bigNav ul li {
    width: 120px;
    height: 42px;
    float: left;
    display: inline;
    background: url(../img/sprite/nav-fg.gif) right center no-repeat
}

.bigNav ul li a {
    display: block;
    width: 118px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.bigNav ul li a:hover {
    background: #e41537;
    color: #FFFF33
}

/**购物车**/
.shopping-cart {
    width: 160px;
    padding-left: 60px;
    height: 42px;
    line-height: 42px;
    color: #FFFFFF;
    border-left: 1px dotted #e41537;
    background: url(../img/sprite/buyCar.png) left center no-repeat;
    background-position: 20px 5px
}

.shopping-cart:hover {
    background: url(../img/sprite/buyCar.png) #e41537 left center no-repeat;
    background-position: 20px 5px
}

.shopping-cart a {
    color: #fff
}

.shopping-cart a:hover {
    color: #FFFF33
}


/* 用户管理位置 */
.user_here {
    width: 1198px;
    height: 33px;
    line-height: 33px;
    color: #999999;
    border: 1px solid #dedede;
    margin-top: 10px;
    text-indent: 10px;
}


/**底部信息**/
.footerLink {
    width: 100%;
    background: #f0f0f0;
    padding: 30px 0;
    border-top: 5px solid #e7e7e7;
}

.footerLink_ul {
    width: 1200px;
    overflow: auto;
    margin-top: 10px
}

.footerLink_ul ul {
    width: 150px;
    height: 200px;
    float: left;
    display: inline;
    border-right: 1px dotted #dedede;
    padding-left: 49px;
}

.footerLink_ul ul h2 {
    color: #676666;
    margin-bottom: 5px;
}

.footerLink_ul ul li {
    line-height: 24px
}

.footerLink_ul ul:hover h2 {
    color: #068a1c
}

.footerLink_ul ul li a {
    color: #999999;
    -webkit-transition: background .3s ease, color 0.2s linear;
    -moz-transition: background .3s ease, color 0.2s linear;
    -o-transition: background .3s ease, color 0.2s linear;
    transition: background .3s ease, color 0.2s linear;
}

.footerLink_ul ul li a:hover {
    color: #068a1c
}

/**底部信息**/
.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer-nav a {
    padding: 0 7px;
    -webkit-transition: background .3s ease, color 0.2s linear;
    -moz-transition: background .3s ease, color 0.2s linear;
    -o-transition: background .3s ease, color 0.2s linear;
    transition: background .3s ease, color 0.2s linear;
}

.footer p {
    padding: 5px 0;
    line-height: 22px;
}
